@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap');
@font-face {
  font-family: 'Copal Std';
  src:  url('fonts/copal-std-decorated.woff') format('woff');
}

:root {
  --color-01: rgb(240, 255, 255);
  --color-02: #88ABFB;
  --color-03: rgb(30,30,30);
  --color-04: #F5F5F5;
}

.light {
  color-scheme: light;
  --background-primary: var(--color-04);
  --background-secondary: var(--color-01);
  --cta-primary: var(--color-02);
  --text-primary: var(--color-03);
  --text-secondary: var(--color-03);
}

.dark {
  color-scheme: dark;
  --background-primary: var(--color-03);
  --background-secondary: var(--color-01);
  --cta-primary: var(--color-02);
  --text-primary: var(--color-01);
  --text-secondary: var(--color-03)
}

.App {
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 100vh;
  text-align: center;
  background-color: var(--background-primary);
  color: var(--text-primary);
}
.logo {
  color: var(--text-primary);
  margin-top: 0;
  padding-top: 1em;
  font-family: 'Copal Std', sans-serif;
  font-size: 64px;
} 

.show_random_card_btn {
  font-family: 'Noto Sans TC', sans-serif;
  cursor: pointer;
  font-weight: 500;
  width: 200px;
  font-size: 24px;
  margin-top: 20px;
  border: 0;
  background-color: var(--cta-primary);
}

.option-header {
  font-weight: 500;
}

.option-list {
  border: 2px solid var(--text-primary);
}

.switch-container {
  display: flex;
  justify-content: flex-end;
  height: 34px;
  padding: 30px;
}
.theme-icon--dark {
  height: 34px;
  /* font-size: 14pt; */
  line-height: 2;
  padding-right: 5px;
}

.theme-icon--light {
  height: 34px;
  /* font-size: 14pt; */
  line-height: 2;
  padding-right: 5px;
}

/* Toggle */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--cta-primary);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background-secondary);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--cta-primary);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--cta-primary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

